<div>
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Client</div>
    </div>
    <div class="grid-block vertical modal-content">
      <div class="grid-block">
        <div class="grid-block">
          <div class="grid-content">
            <input type="text" placeholder="Search" ng-model="searchInput"/>
          </div>
        </div>
        <div class="grid-block shrink">
          <div class="grid-content">
            <input ng-click="add()" type="button" class="button" value="ADD"/>
          </div>
        </div>
      </div>
      <div class="grid-block block-list-container" style="height: calc(43px * 6)">
        <div class="grid-content">
          <section class="block-list">
            <form>
              <ul>
                <li ng-repeat="client in clients | filter: searchInput as results">
                  <input type="radio" id="{{client._id}}" name="client" ng-value="client">
                  <label for="{{client._id}}" ng-click="set(client)">{{client.nume}}</label>
                </li>
              </ul>
            </form>
          </section>
        </div>
      </div>
    </div>
    <div class="grid-block modal-bottom">
      <div class="grid-content">
        <input ng-click="close()" type="button" class="button expand" value="OK"/>
      </div>
    </div>
  </div>
</div>
