<div class="grid-frame">
  <form>
  <div class="row">
    <div class="large-12 columns">
        <div class="row">
          <div class="medium-5 columns">
            <label>Produs
              <input type="text" placeholder="Ex. Benzina, Diverse birou" ng-model="bonProducts">
            </label>
          </div>
          <div class="medium-4 columns">
            <label>Data
              <input type="date" placeholder="02/04/2016" ng-model="bonDate" ng-init="new Date()">
            </label>
          </div>
          <div class="medium-2 columns">
            <label>Pret
              <input type="number" placeholder="30.89" ng-model="bonAmount">
            </label>
          </div>
          <div class="medium-1 columns">
            <button type="button" class="button" ng-click="saveBon()">Add</button>
          </div>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="large-12 columns">
        <table>
          <thead>
          <tr>
            <th>Produs</th>
            <th width="200">Data</th>
            <th width="150">Pret</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="bon in bonuri | orderBy : 'date' as sortedBons">
            <td>{{bon.products}}</td>
            <td>{{bon.date | date:'MM/dd/yyyy'}}</td>
            <td>{{bon.amount}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
