<div class="grid-frame">
  <form>
  <div class="row">
    <div class="large-12 columns">
        <div class="row">
          <div class="medium-5 columns">
            <label>Produs
              <input type="text" placeholder="Ex. Benzina, Diverse birou">
            </label>
          </div>
          <div class="medium-3 columns">
            <label>Data
              <input type="text" placeholder="02/04/2016">
            </label>
          </div>
          <div class="medium-2 columns">
            <label>Pret
              <input type="text" placeholder="30.89">
            </label>
          </div>
          <div class="medium-2 columns">
            <button type="button" class="button" ng-click="saveBon()">Add</button>
          </div>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="large-12 columns">
        <table>
          <thead>
          <tr>
            <th>Produs</th>
            <th width="200">Data</th>
            <th width="150">Pret</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Benzina</td>
            <td>02/04/1990</td>
            <td>30.89</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
