<div class="small-12 large-8 grid-block vertical large-centered">
  <div class="grid-block" style="margin-top: 2rem">
    <div class="grid-content">
      <table>
        <thead>
        <tr>
          <th width="100">{{"views.invoice.series" | translate}}</th>
          <th>{{"views.invoice.buyer" | translate}}</th>
          <th width="200">{{"views.invoice.date" | translate}}</th>
          <th width="150" style="text-align:right">{{"views.invoice.amount" | translate}}</th>
          <td style="text-align:right">Actiuni</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="factura in facturi | orderBy : 'number' as sortedBons">
          <td>{{factura.series}} {{factura.number}}</td>
          <td>{{factura.buyer.name}}</td>
          <td>{{factura.date | date:'dd/MM/yyyy'}}</td>
          <td style="text-align:right">{{factura.total}} {{factura.currency}}</td>
          <td style="text-align:right">
            <i ng-click="removeFactura(factura)" class="fa fa-trash-o"></i>
            <i ng-click="downloadFactura(factura)" class="fa fa-download"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="docs-homescreen-add" ng-click="newInvoice()">
  <div class="docs-homescreen-icon docs-homescreen-icon-medium">
    <i class="fa fa-plus"></i>
  </div>
</div>
