<div id="login-scr">
  <!--<h2>*SandD Accounting*</h2>-->
  <img src="images/logo.png">
  <div class="box">
    <input class="user" ng-model="vm.user.username" placeholder="Nume utilizator / Email" type="text">
    <input class="pass" ng-model="vm.user.password" placeholder="Parola" type="password">
    <i class="fa fa-arrow-circle-o-right" no-animate ng-hide="vm.isChecking" ng-click="vm.login()"></i>
    <i class="fa fa-spinner fa-spin" no-animate ng-show="vm.isChecking"  ng-click="vm.login()"></i>
  </div>
</div>
